parameters:
  level: max
  parallel:
    maximumNumberOfProcesses: 1
    processTimeout: 200.0
  paths:
    - src
    - tests
  scanFiles:
    - %currentWorkingDirectory%/vendor/autoload.php
    - %currentWorkingDirectory%/vendor/squizlabs/php_codesniffer/autoload.php
    - %currentWorkingDirectory%/vendor/squizlabs/php_codesniffer/src/Util/Tokens.php
  checkGenericClassInNonGenericObjectType: false
  checkMissingIterableValueType: false
  treatPhpDocTypesAsCertain: false
  implicitThrows: false
  exceptions:
    checkedExceptionRegexes:
      - '#Exception#'
      - '#Throwable#'
    check:
      missingCheckedExceptionInThrows: true
      tooWideThrowType: true
  ignoreErrors:
    - '~is not subtype of Throwable~'
    - '~Call to static method PHPUnit~'
    - '~Parameter #1 \$partial of method .*setPartial\(\) expects .*, int given~'
    - '~Call to an undefined method .*::find(All|One)By.*\(\)~'
    - '~Parameter #2 \$filename of method Laminas\\I18n\\Translator\\Translator::addTranslationFile\(\) expects string, null given~'
